/application/config/config.php
/application/config/constants.php
application/cache/*
*/application/config
!*uploads
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
